body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: space-between;
}
.heading{
    display: flex;
    justify-content:space-between;
    z-index: 2;
    padding: 0px 16px;
    position: fixed;
    width: calc(100% - 32px);}
.background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

h1{
    white-space: nowrap;
    color: white;
}
body, html, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
ul{
    display:flex;
    justify-self: flex-start;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: stretch;
    padding:0px;
}
.nav ul li:hover{
    background-color: rgba(211, 211, 211, 0);
}
li{
    -webkit-backdrop-filter: blur(5px) brightness(1.3) contrast(.9) saturate(1);
    backdrop-filter: blur(5px) brightness(1.3) contrast(.9) saturate(1);
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.552);

}
a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}
#photo{
    border: solid black 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 0 0px;
}
#code{
    border: solid black 1px;
    border-left: 0px;
    box-shadow: 2px 0 0px;

}
#contact{
    border: solid black 1px;
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.content{
    height:2000px;
    width: 100px;

}
.nav{
    align-self: center;

}
.leftTopButton{
    margin-left:auto
}
/*Vector Background Styling*/
#svgScale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center left; /* Adjusted to center for clarity */
}
#svgRotate{
    transform-origin: 0% 50%; /* Centered by default */
}
#container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Adapts the number of columns based on the screen width */
    grid-auto-rows: 50px; /* Height of each row */
    z-index: 1;
}
.arrow{
    height: 52px;
}
/* Photo Styling */
.photos{
    margin-top: calc(50vh - min(30vw,30vh));
}
div#one{
    display: flex;
    justify-content: center;
    margin-bottom:  calc(50vh - min(30vw,30vh));;
}
.photoBox>img{
    width: auto;
    height: 500px;
    position: relative;
    z-index: 1;
}
.photos>div{
    position: relative;
}
img#one{
    width: auto;
    z-index: 1;
    margin: auto;
    height: min(60vw, 60vh);
}
div#two{
    position: relative;
    height: auto;
    margin-top: calc(50vh - 224px);
    margin-left: 5vw;
    margin-right: 5vw;
}
img#two{
    width: auto;
    z-index: 1;
    height: 35vw;
    margin-left: 3vw;

}
img#three{
    width: auto;
    height: 40vw;
    z-index: 1;
    margin-left: 5vw;
    top: 56px;
}
div#three{
    display: flex;
    justify-content: center;
    margin: calc(10vh + 100px) 10vh 0px 10vh;
    height: calc(100px + 40vw);
}
img#four{
    height: 43vw;
}
div#five{
    height: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
img#five{
    margin-left: 3vw;
    height: 30vw;
}
img#six{
    height: 40vw;
    margin-left: 3vw;
}
div#seven{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}
img#seven{
    height: 50vw;
}
div#eight{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}
img#eight{
    height: 50vw;
    left: 10vw;
}
div#nine{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}
img#nine{
    height: 50vw;
}
div#ten{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7vh;
    height: calc(5vh + 40vw);
}
img#ten{
    height: 40vw;
}
img#eleven{
    top:5vh;
    height: 40vw;
}
div#footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    height: 100px;
    padding: 20px;
    flex-direction: row;
    margin-top: 9vh;
    margin-bottom: 3vh;
}

/* Portrait styling */
div.menuSmall{
    display: none;
}
@media (max-width: 768px) {
    .heading{
        padding: 0px;
        width: 100%;
    }
    #heading{
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    /* portrait photo styling */
    img#two{
        width: 80vw;
        height: auto;
        margin-left: 0px;
    }
    div#three{
        margin-top: 10vw;
        height: 43vw;
    }
    img#three{
        width: 80vw;
        height: auto;
        margin-top: 20px;
        top:0px;
    }

    img#five{
        margin-left: 0px;
        height: 80vw;
        width: auto;
    }
    img#six{
        height: 60vw;
        width: auto;
        margin-left: 0px;
        margin-top: 7vw;
    }
    div#five{
        height: 140vw;
        margin-top: 7vw;
    }
    img#seven{
        height:60vw;
        margin-top: 3vw;
    }
    img#eight{
        height:80vw;
    }
    img#nine{
        height: 60vw;
    }
    /*center heading*/
    .heading{
        justify-content: center;
    }
    /* Hide large screen menu on small screens */
    .nav{
        display: none;
    }
    #footer{
        display: none;
    }
    li{
        padding: 10px 20px;
    }
    div.menuSmall{
        display: block;
    }

    .menu-small>ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0px;

    }
    /* Show small screen menu on small screens */
    .menu-small {
        margin: 0px 0px 0px 0px;
    }
    ul.menuSmall{
        margin: 0px 20px ;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


    }
    div.menuSmall{
        margin: 30px 15px;
        position: fixed;
        width: calc(100% - 40px);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
    }
    nav.menuSmall.active{
        display: block;
    }
    nav.menuSmall{
        display: none;
    }
    li.active#menuSmall{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    ul{
        cursor: pointer;
    }
    #menuSmall{
        border-radius: 10px;
        border: solid black 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #contactSmall{
        border: solid black 1px;
        border-bottom: 0px;
        box-shadow: 0px 2px 0px;
    }
    #codeSmall{
        border: solid black 1px;
        border-bottom: 0px;
        box-shadow: 0px 2px 0px;
    }
    #fotoSmall{
        border: solid black 1px;
        border-bottom: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 0px 2px 0px;
    }
    #menu-icon{
        height: 20px;
    }
    a{
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }
    li{
        padding: 0px;
    }

}
